/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  line-height: 100px;
  margin-top: -50px;
  text-align: center;
  font-size: 24px;
}
